:root{
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --radius-1: 4px;
}
/* default values*/
template {
    display: none;
  }
  [hidden] {
    display: none;
  }
  body, html, ul, menu, dir {
      margin: 0;
      padding: 0;	
  }
  /* lists */
  li{
      list-style:none;
  }
  /* html */
  body {
      color: #000;
      font-size: 14px;
      line-height: 1.15;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      -ms-overflow-style: scrollbar;
      -webkit-tap-highlight-color: transparent;
      overflow-y:scroll;
  }
  /* viewport */
  @-ms-viewport {
    width: device-width;
  }
  /* box-sizing */
  *,
  *::before,
  *::after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box
  }
  /* transition */
  .transition{
      -webkit-transition: all 0.2s ease 0.2s;
      -o-transition: all 0.2s ease 0.2s;
      -moz-transition: all 0.2s ease 0.2s;
      transition: all 0.2s ease 0.2s
  }
  /* links */
  a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #0056b3;
  }
  a:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
  }
  
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
  }
  a:not([href]):not([tabindex]):focus {
    outline: 0;
  }
  /* images */
  img {
    border-style: none;
    vertical-align: middle;
    border: 0;
  }
  /* input elements | https://github.com/necolas/normalize.css/blob/master/normalize.css#L152 */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  button,
  input { /* 1 */
    overflow: visible;
  }
  button,
  select { /* 1 */
    text-transform: none;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"],
  [type="radio"] {
    -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
         box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  /* font-size */
  .h1{
      font-size:2rem
  }
  .h2{
      font-size:1.5rem
  }
  .h3{
      font-size:1.25rem
  }
  .sl{
      font-size:1.14rem
  }
  .h4{
      font-size:1rem
  }
  .h5{
      font-size:.875rem
  }
  .h6{
      font-size:.75rem
  }
  /* font weight */
  .bold{
      font-weight:700
  }
  .regular{
      font-weight:400
  }
  .italic{
      font-style:italic
  }
  /* text-layout */
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  /* text-align */
  .left-align{
      text-align:left
  }
  .center{
      text-align:center
  }
  .right-align{
      text-align:right
  }
  .justify{
      text-align:justify
  }
  /* text-decoration */
  .no-underline{
      text-decoration:none
  }
  .no-underline:hover{
      text-decoration:none
  }
  .underline{
      text-decoration:underline
  }
  /* lists */
  .list-reset{
      list-style:none;
      padding-left:0
  }
  /* text-overflow */
  .truncate{
      max-width:100%;
      overflow:hidden;
      -o-text-overflow:ellipsis;
      text-overflow:ellipsis;
      white-space:nowrap
  }
  /* display */
  .flex{
      display:-webkit-box;
      display:-webkit-flex;
      display:-ms-flexbox;
      display:-moz-box;
      display:flex
  }
  .inline{
      display:inline-block;
  }
  .block{
    display: block;
  }
  .table{
      display: table;
  }
  .table-cell{
    display: table-cell;
  }
  .display-none{
      display:none!important
  }
  .hide{
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
  }
  /* floats */
  .left{
      float: left;
  }
  .right{
      float: right;
  }
  .clearfix{
      overflow: auto;
  }
  /*## SECTION FLEX-BOX ##*/
  /* flex-direction */
  .flex-column{
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
      -webkit-flex-direction:column;
      -ms-flex-direction:column;
           -moz-box-orient:vertical;
           -moz-box-direction:normal;
           flex-direction:column
  }
  /* flex-wrap */
  .flex-wrap{
      -webkit-flex-wrap:wrap;
      -ms-flex-wrap:wrap;
      flex-wrap:wrap
  }
  /* align-items */
  .items-start{
      -webkit-box-align:start;
      -webkit-align-items:flex-start;
      -ms-flex-align:start;
      -ms-grid-row-align:flex-start;
      -moz-box-align:start;
           align-items:flex-start
  }
  .items-end{
      -webkit-box-align:end;
      -webkit-align-items:flex-end;
      -ms-flex-align:end;
      -ms-grid-row-align:flex-end;
      -moz-box-align:end;
           align-items:flex-end
  }
  .items-center{
      -webkit-box-align:center;
      -webkit-align-items:center;
      -ms-flex-align:center;
      -ms-grid-row-align:center;
      -moz-box-align:center;
           align-items:center
  }
  /* flex-grow */
  .flex-grow{
      /*
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto
      */
      -webkit-box-flex:1;
      -webkit-flex-grow:1;
          -ms-flex-positive:1;
              -moz-box-flex:1;
           flex-grow:1
  }
  /* justify-content */
  .justify-start{
      -webkit-box-pack:start;
      -webkit-justify-content:flex-start;
      -ms-flex-pack:start;
           -moz-box-pack:start;
           justify-content:flex-start
  }
  .justify-end{
      -webkit-box-pack:end;
      -webkit-justify-content:flex-end;
      -ms-flex-pack:end;
           -moz-box-pack:end;
           justify-content:flex-end
  }
  .justify-center{
      -webkit-box-pack:center;
      -webkit-justify-content:center;
      -ms-flex-pack:center;
           -moz-box-pack:center;
           justify-content:center
  }
  .justify-between{
      -webkit-box-pack:justify;
      -webkit-justify-content:space-between;
      -ms-flex-pack:justify;
           -moz-box-pack:justify;
           justify-content:space-between
  }
  .justify-around{
      -webkit-justify-content:space-around;
      -ms-flex-pack:distribute;
      justify-content:space-around
  }
  /* align-content */
  .content-start{
      -webkit-align-content:flex-start;
      -ms-flex-line-pack:start;
      align-content:flex-start
  }
  .content-end{
      -webkit-align-content:flex-end;
      -ms-flex-line-pack:end;
      align-content:flex-end
  }
  .content-center{
      -webkit-align-content:center;
      -ms-flex-line-pack:center;
      align-content:center
  }
  .content-between{
      -webkit-align-content:space-between;
      -ms-flex-line-pack:justify;
      align-content:space-between
  }
  .content-around{
      -webkit-align-content:space-around;
      -ms-flex-line-pack:distribute;
      align-content:space-around
  }
  /* z-index */
  .z1{
      z-index:10
  }
  .z2{
      z-index:20
  }
  .z3{
      z-index:30
  }
  .z4{
      z-index:40
  }
  .z5{
      z-index:50
  }
  .z6{
      z-index:60
  }
  .z7{
      z-index:70
  }
  .z8{
      z-index:80
  }
  /* border */
  .border{
      border-style:solid;
      border-width:1px
  }
  .border-none{
      border:0
  }
  /* position */
  .relative{
      position:relative
  }
  .absolute{
      position:absolute
  }
  .fixed{
      position:fixed
  }
  /* coordinates */
  .top-0{
      top:0
  }
  .right-0{
      right:0
  }
  .bottom-0{
      bottom:0
  }
  .left-0{
      left:0
  }
  /* vertical-text + .top0.left0.absolute */
  .rotate-90{
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
           -moz-transform-origin: 0 0;
             -o-transform-origin: 0 0;
           transform-origin: 0 0;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
             -o-transform: rotate(90deg);
           transform: rotate(90deg);
  }
  .rotate-270{
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
           -moz-transform-origin: 0 0;
             -o-transform-origin: 0 0;
           transform-origin: 0 0;
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
           -moz-transform: rotate(270deg);
             -o-transform: rotate(270deg);
           transform: rotate(270deg);
  }
  /* buttons */
  .btn2{
      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
      display: inline-block;
      padding: 13px 20px;
      letter-spacing: .0625rem;
      font-weight: 700;
      color: #e6e6e6;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      background: #035a99;
      border: none;
  }
  .btn2:hover{
      color: #ffffff;
  }
  /* layout */
  .fit{
      max-width: 100%;
  }
  .width-100{
      width: 100%;
  }
  .width-50{
      width: 50%;
  }
  .width-25{
      width: 25%;
  }
  .w-100{
      width: 100%;
  }
  .w-75{
      width: 75%;
  }
  .w-50{
      width: 50%;
  }
  .w-25{
      width: 25%;
  }
  .h-100{
      height: 100%;
  }
  .h-75{
      height: 75%;
  }
  .h-50{
      height: 50%;
  }
  .h-25{
      height: 25%;
  }
  .wh-100{
      width: 100%;
      height: 100%;
  }
  .margin-0, .m0{
      margin:0
  }
  .mt0 { margin-top:    0 }
    .mr0 { margin-right:  0 }
    .mb0 { margin-bottom: 0 }
    .ml0 { margin-left:   0 }
    .mx0 { margin-left:   0; margin-right:  0 }
    .my0 { margin-top:    0; margin-bottom: 0 }
    .m1  { margin:        var(--space-1) }
    .mt1 { margin-top:    var(--space-1) }
    .mr1 { margin-right:  var(--space-1) }
    .mb1 { margin-bottom: var(--space-1) }
    .ml1 { margin-left:   var(--space-1) }
    .mx1 { margin-left:   var(--space-1); margin-right:  var(--space-1) }
    .my1 { margin-top:    var(--space-1); margin-bottom: var(--space-1) }
    
    .m2  { margin:        var(--space-2) }
    .mt2 { margin-top:    var(--space-2) }
    .mr2 { margin-right:  var(--space-2) }
    .mb2 { margin-bottom: var(--space-2) }
    .ml2 { margin-left:   var(--space-2) }
    .mx2 { margin-left:   var(--space-2); margin-right:  var(--space-2) }
    .my2 { margin-top:    var(--space-2); margin-bottom: var(--space-2) }
    
    .m3  { margin:        var(--space-3) }
    .mt3 { margin-top:    var(--space-3) }
    .mr3 { margin-right:  var(--space-3) }
    .mb3 { margin-bottom: var(--space-3) }
    .ml3 { margin-left:   var(--space-3) }
    .mx3 { margin-left:   var(--space-3); margin-right:  var(--space-3) }
    .my3 { margin-top:    var(--space-3); margin-bottom: var(--space-3) }
    
    .m4  { margin:        var(--space-4) }
    .mt4 { margin-top:    var(--space-4) }
    .mr4 { margin-right:  var(--space-4) }
    .mb4 { margin-bottom: var(--space-4) }
    .ml4 { margin-left:   var(--space-4) }
    .mx4 { margin-left:   var(--space-4); margin-right:  var(--space-4) }
    .my4 { margin-top:    var(--space-4); margin-bottom: var(--space-4) }
    
    .mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
    .mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
    .mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
    .mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }
    
    .ml-auto { margin-left: auto }
    .mr-auto { margin-right: auto }
    .mx-auto { margin-left: auto; margin-right: auto; }
    .p0  { padding: 0 }
.pt0 { padding-top: 0 }
.pr0 { padding-right: 0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left: 0 }
.px0 { padding-left: 0; padding-right:  0 }
.py0 { padding-top: 0;  padding-bottom: 0 }

.p1  { padding:        var(--space-1) }
.pt1 { padding-top:    var(--space-1) }
.pr1 { padding-right:  var(--space-1) }
.pb1 { padding-bottom: var(--space-1) }
.pl1 { padding-left:   var(--space-1) }
.py1 { padding-top:    var(--space-1); padding-bottom: var(--space-1) }
.px1 { padding-left:   var(--space-1); padding-right:  var(--space-1) }

.p2  { padding:        var(--space-2) }
.pt2 { padding-top:    var(--space-2) }
.pr2 { padding-right:  var(--space-2) }
.pb2 { padding-bottom: var(--space-2) }
.pl2 { padding-left:   var(--space-2) }
.py2 { padding-top:    var(--space-2); padding-bottom: var(--space-2) }
.px2 { padding-left:   var(--space-2); padding-right:  var(--space-2) }

.p3  { padding:        var(--space-3) }
.pt3 { padding-top:    var(--space-3) }
.pr3 { padding-right:  var(--space-3) }
.pb3 { padding-bottom: var(--space-3) }
.pl3 { padding-left:   var(--space-3) }
.py3 { padding-top:    var(--space-3); padding-bottom: var(--space-3) }
.px3 { padding-left:   var(--space-3); padding-right:  var(--space-3) }

.p4  { padding:        var(--space-4) }
.pt4 { padding-top:    var(--space-4) }
.pr4 { padding-right:  var(--space-4) }
.pb4 { padding-bottom: var(--space-4) }
.pl4 { padding-left:   var(--space-4) }
.py4 { padding-top:    var(--space-4); padding-bottom: var(--space-4) }
.px4 { padding-left:   var(--space-4); padding-right:  var(--space-4) }
  .padding-0{
      padding:0
  }
  .overflow-hidden{
      overflow: hidden
  }
  .pos-center,.centered,.mlr-auto{
      margin-right: auto;
      margin-left: auto;
  }
  .m-auto{
      margin: auto;
  }
  .pos-left,.mr-auto{
      margin-right: auto;
  }
  .pos-right,.ml-auto{
      margin-left: auto;
  }
  .rounded{
    -webkit-border-radius: var(--radius-1);
       -moz-border-radius: var(--radius-1);
            border-radius: var(--radius-1);
  }
  .circle{
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
  }
  .rounded-top{
    -webkit-border-radius: var(--radius-1) var(--radius-1) 0 0;
       -moz-border-radius: var(--radius-1) var(--radius-1) 0 0;
            border-radius: var(--radius-1) var(--radius-1) 0 0;
  }
  .rounded-right{
    -webkit-border-radius: 0 var(--radius-1) var(--radius-1) 0;
       -moz-border-radius: 0 var(--radius-1) var(--radius-1) 0;
            border-radius: 0 var(--radius-1) var(--radius-1) 0;
  } 
  .rounded-bottom{
    -webkit-border-radius: 0 0 var(--radius-1) var(--radius-1);
       -moz-border-radius: 0 0 var(--radius-1) var(--radius-1);
            border-radius: 0 0 var(--radius-1) var(--radius-1);
  }
  .rounded-left{
    -webkit-border-radius: var(--radius-1) 0 0 var(--radius-1);
       -moz-border-radius: var(--radius-1) 0 0 var(--radius-1);
            border-radius: var(--radius-1) 0 0 var(--radius-1);
  }
  /* colors */
  .bg-green{
      background-color:green;
  }
  .bg-red{
      background-color:red;
  }
  .bg-white{
      background-color:white;
  }
  .white{
      color: white;
  }
  .grey{
      color: #888;
  }
  .light-grey{
      color: #808080;
  }
  .col-link{
      color: #0C609E
  }
  .light-blue{
      color: #035a99;	
  }
  .info:hover > ul{
      display:block;
  }
  .info-dropdown{
      position: absolute;
      background:  #fff;
      right: 0px;
      line-height: 2em;
      white-space: nowrap;
      padding: 8px;
      border: 1px solid #035a99;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
  }
  /*## SECTION - PAGE SPECIFIC ##*/
  body{
      font-family: 'Open Sans',sans-serif;
  }
  #header-desktop .warenkorb{
      min-width: 70px;
      border-right: 1px solid white;
      max-height: 50px;
      background: url(../img/cart.png);
      background-repeat: no-repeat;
      -webkit-background-size: 33% 50%;
              -moz-background-size: 33% 50%;
                -o-background-size: 33% 50%;
           background-size: 33% 50%;
      background-position: 33% 50%;
      padding-right: 4px;
      
  }
  #header-desktop .preis{
      min-width: 50px;
      min-height: 50px;
      line-height: 50px;
  }
  #header-desktop .warenkorb p{
      margin-top: 12px;
  }
  #header-desktop .preis p{
      margin-top: 12px;
  }
  #header-mobile input.form-control{
  -webkit-border-radius: 4px 0px 0px 4px;
      -moz-border-radius: 4px 0px 0px 4px;
      border-radius: 4px 0px 0px 4px;
  }
  .logo-desktop-bg .wrapper{
      width: 44%;
      left: 56%;
      top:42px;
  }
  .logo-desktop-bg .searchbox .form-control{
      -webkit-border-radius: 0;
              -moz-border-radius: 0;
           border-radius: 0;
      height:30px;
      text-align:left;
      background: url(../img/lupe-s.png) right center no-repeat;
      padding-right: 30px;
  }
  .logo-desktop-bg .searchbox .search-button{
      margin-left: -34px;
      height: 30px;
      background: none;
      width: 34px;
  }
  
  .content-width{
      max-width: 1150px;   
  }
  .padding-lr{
      padding: 0 4px;
      padding: 0 .24rem;
  }
  .padding{
      padding: 8px;
      padding: .5rem;
  }
  .padding-r{
      padding-right: 8px;
      padding-right: .5rem;	
  }
  .padding-b{
      padding-bottom: 8px;
      padding-bottom: .5rem;	
  }
  .padding-l{
      padding-left: 8px;
      padding-left: .5rem;	
  }
  .padding-t{
      padding-top: 8px;
      padding-top: .5rem;
  }
  .margin-lr{
      margin: 0 4px;
      margin: 0 .24rem;
  }
  .margin-l-auto{
      margin-left:auto;
  }
  .margin-negative-lr{
      margin: 0 -4px;
      margin: 0 -.24rem;
  }
  .margin-t{
      margin-top: 8px;
      margin-top: .5rem;
  }
  .margin-b{
      margin-bottom: 8px;
      margin-bottom: .5rem;
  }
  .margin-l{
      margin-left: 8px;
      margin-left: .5rem;
  }
  .margin-r{
      margin-right: 8px;
      margin-right: .5rem;
  }
  #header-mobile .links{
      margin-top: 7px;
      margin-top: .45rem;
      margin-top: .5em;
  }
  .logo-desktop-bg{
      min-height: 98px; /* img-height x column width / img-width */
      background: url(../img/logo-desktop-bg.png) no-repeat;
      -webkit-background-size: 100% 100%;
              -moz-background-size: 100%;
                -o-background-size: 100%;
           background-size: 100%;
  }
  .form-control{
      height: 34px;
      padding: 6px 12px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
           border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
           box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  }
  .search-button{
      background: url(../img/lupe.png) -3px -6px no-repeat;
      width: 38px;
      height: 34px;
      margin: 0;
      padding: 0;
      border: 0;
      right: 0;
      top: 0;
      -webkit-border-radius: 0px 4px 4px 0px;
              -moz-border-radius: 0px 4px 4px 0px;
           border-radius: 0px 4px 4px 0px;
  }
  #description{
      line-height: 1.75em;
  }
  .product-price{
      width: 100%;
      max-width: 250px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
  }
  .price-old{
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
         -moz-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-decoration: line-through;
  }
  .price-new{
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
         -moz-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      color: #eb2f06;
      font-weight: 600;
  }
  .content-seite{
      margin-left:16px;
  }
  .form-control-cart{
      padding: 11px 20px;
      letter-spacing: .0625rem;
      font-weight: 700;
      max-width: 100px;
      text-align: center;
  }
  .jumbotron{
      width: 33%;
      min-width: 300px;
      text-align: center;
      border: 1px solid #035a99;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
  }
  /* DEVELOPMENT - TESTCOCDE */
  
  /* NAVIGATION */
  /*
      #navigation li{
          background: url(../img/bg-carbon.png) top center;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          line-height: 1.0;
      }
      #navigation a{
          display: block;
          background: transparent;
          padding: 12px 12px;
          font-size: 14px;
          color: #FFF;
      }
  
      /* Display Dropdowns on Hover */
  /*
      nav ul li:hover > ul {
          display:inherit;
      }
      /* First Tier Dropdown */
  /*
      nav ul ul li {
          width:170px;
          float:none;
          display:list-item;
          position: relative;
      }
      /* Second, Third and more Tiers	*/
  /*	nav ul ul ul li {
          position: relative;
          top:-60px; 
          left:170px;
      }
      /* Change this in order to change the Dropdown symbol */
  /*	li > a:after { content:  ' +'; }
      li > a:only-child:after { content: ''; }
  /* CAROUSEL */
  .carousel {
    background: #f8f9fa;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
  }
  .carousel img{
      width:100%
  }
  .carousel .carousel-container {
    height: 100%;
    left: 0;
    position: relative;
  }
  .carousel .carousel-container::before {
    content: "";
    display: block;
    padding-bottom: 32.7%;
  }
  .carousel .carousel-container .carousel-item {
    -webkit-animation: carousel-slideout-reverse 1s ease-in-out 1;
            -moz-animation: carousel-slideout-reverse 1s ease-in-out 1;
              -o-animation: carousel-slideout-reverse 1s ease-in-out 1;
         animation: carousel-slideout-reverse 1s ease-in-out 1;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .carousel .carousel-container .carousel-item:hover .item-prev,
  .carousel .carousel-container .carousel-item:hover .item-next {
    opacity: 1;
  }
  .carousel .carousel-container .item-prev,
  .carousel .carousel-container .item-next {
    background: rgba(231, 233, 237, 0.25);
    border-color: rgba(231, 233, 237, 0.5);
    color: #e7e9ed;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
              -o-transform: translateY(-50%);
         transform: translateY(-50%);
    z-index: 100;
  }
  .carousel .carousel-container .item-prev {
    left: 1rem;
  }
  .carousel .carousel-container .item-next {
    right: 1rem;
  }
  .carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-container .carousel-item:nth-of-type(1), .carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-container .carousel-item:nth-of-type(2), .carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-container .carousel-item:nth-of-type(3), .carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-container .carousel-item:nth-of-type(4) {
    -webkit-animation: carousel-slidein-reverse .75s ease-in-out 1;
            -moz-animation: carousel-slidein-reverse .75s ease-in-out 1;
              -o-animation: carousel-slidein-reverse .75s ease-in-out 1;
         animation: carousel-slidein-reverse .75s ease-in-out 1;
    opacity: 1;
    z-index: 100;
  }
  .carousel .carousel-locator:nth-of-type(1):checked ~ .carousel-nav .nav-item:nth-of-type(1), .carousel .carousel-locator:nth-of-type(2):checked ~ .carousel-nav .nav-item:nth-of-type(2), .carousel .carousel-locator:nth-of-type(3):checked ~ .carousel-nav .nav-item:nth-of-type(3), .carousel .carousel-locator:nth-of-type(4):checked ~ .carousel-nav .nav-item:nth-of-type(4) {
    color: #e7e9ed;
  }
  .carousel .carousel-nav {
    bottom: 0.4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            -moz-box-pack: center;
         justify-content: center;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
         transform: translateX(-50%);
    width: 10rem;
    z-index: 100;
  }
  .carousel .carousel-nav .nav-item {
    color: rgba(231, 233, 237, 0.5);
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            -moz-box-flex: 1;
         flex: 1 0 auto;
    height: 1.6rem;
    margin: 0.2rem;
    max-width: 2.5rem;
    position: relative;
  }
  .carousel .carousel-nav .nav-item::before {
    background: currentColor;
    content: "";
    display: block;
    height: 0.1rem;
    position: absolute;
    top: .5rem;
    width: 100%;
  }
  
  @-webkit-keyframes carousel-slidein {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @-moz-keyframes carousel-slidein {
    0% {
      -webkit-transform: translateX(100%);
              -moz-transform: translateX(100%);
           transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
           transform: translateX(0);
    }
  }
  
  @-o-keyframes carousel-slidein {
    0% {
      -webkit-transform: translateX(100%);
              -o-transform: translateX(100%);
         transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0);
              -o-transform: translateX(0);
         transform: translateX(0);
    }
  }
  
  @keyframes carousel-slidein {
    0% {
      -webkit-transform: translateX(100%);
              -moz-transform: translateX(100%);
                -o-transform: translateX(100%);
           transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
                -o-transform: translateX(0);
           transform: translateX(0);
    }
  }
  @-webkit-keyframes carousel-slideout {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }
  @-moz-keyframes carousel-slideout {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
           transform: translateX(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
           transform: translateX(-50%);
    }
  }
  @-o-keyframes carousel-slideout {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
              -o-transform: translateX(0);
         transform: translateX(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-50%);
              -o-transform: translateX(-50%);
         transform: translateX(-50%);
    }
  }
  @keyframes carousel-slideout {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
                -o-transform: translateX(0);
           transform: translateX(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
                -o-transform: translateX(-50%);
           transform: translateX(-50%);
    }
  }
  @-webkit-keyframes carousel-slidein-reverse {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @-moz-keyframes carousel-slidein-reverse {
    0% {
      -webkit-transform: translateX(-100%);
              -moz-transform: translateX(-100%);
           transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
           transform: translateX(0);
    }
  }
  @-o-keyframes carousel-slidein-reverse {
    0% {
      -webkit-transform: translateX(-100%);
              -o-transform: translateX(-100%);
         transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              -o-transform: translateX(0);
         transform: translateX(0);
    }
  }
  @keyframes carousel-slidein-reverse {
    0% {
      -webkit-transform: translateX(-100%);
              -moz-transform: translateX(-100%);
                -o-transform: translateX(-100%);
           transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
                -o-transform: translateX(0);
           transform: translateX(0);
    }
  }
  @-webkit-keyframes carousel-slideout-reverse {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
    }
  }
  @-moz-keyframes carousel-slideout-reverse {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
           transform: translateX(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(50%);
              -moz-transform: translateX(50%);
           transform: translateX(50%);
    }
  }
  @-o-keyframes carousel-slideout-reverse {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
              -o-transform: translateX(0);
         transform: translateX(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(50%);
              -o-transform: translateX(50%);
         transform: translateX(50%);
    }
  }
  @keyframes carousel-slideout-reverse {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
              -moz-transform: translateX(0);
                -o-transform: translateX(0);
           transform: translateX(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(50%);
              -moz-transform: translateX(50%);
                -o-transform: translateX(50%);
           transform: translateX(50%);
    }
  }
  
  .icon-arrow-down::before, .icon-arrow-left::before, .icon-arrow-right::before, .icon-arrow-up::before, .icon-back::before, .icon-downward::before, .icon-forward::before, .icon-upward::before {
      border: .1rem solid currentColor;
      border-bottom: 0;
      border-right: 0;
      content: "";
      height: .65em;
      width: .65em;
  }
  .icon::after, .icon::before {
      display: block;
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              -moz-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
           transform: translate(-50%,-50%);
  }
  .icon::after, .icon::before {
      display: block;
      left: 50%;
      position: absolute;
      top: 40%;
      -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              -moz-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
           transform: translate(-50%,-50%);
  }
  .icon {
      -webkit-box-sizing: border-box;
              -moz-box-sizing: border-box;
           box-sizing: border-box;
      display: inline-block;
      font-size: inherit;
      font-style: normal;
      height: 1em;
      position: relative;
      text-indent: -9999px;
      vertical-align: middle;
      width: 1em;
  }
  .btn,[class*="btn-"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: #fff;
      border: .05rem solid #035a99;
      -webkit-border-radius: .1rem;
              -moz-border-radius: .1rem;
           border-radius: .1rem;
      color: #035a99;
      cursor: pointer;
      display: inline-block;
      font-size: .8rem;
      height: 1.8rem;
      line-height: 1rem;
      outline: 0;
      padding: .35rem .4rem;
      text-align: center;
      text-decoration: none;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      -moz-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      vertical-align: middle;
      white-space: nowrap;
  }
  .btn:hover{
      color: #fff;
      background: #035a99;
      text-decoration:none;
  }
  .icon-arrow-right::before {
      -webkit-transform: translate(-75%,-50%) rotate(135deg);
      -ms-transform: translate(-75%,-50%) rotate(135deg);
      -moz-transform: translate(-75%,-50%) rotate(135deg);
      -o-transform: translate(-75%,-50%) rotate(135deg);
      transform: translate(-75%,-50%) rotate(135deg);
  }
  .icon-arrow-left::before {
      -webkit-transform: translate(-20%,-45%) rotate(315deg);
      -ms-transform: translate(-20%,-45%) rotate(315deg);
      -moz-transform: translate(-20%,-45%) rotate(315deg);
      -o-transform: translate(-20%,-45%) rotate(315deg);
      transform: translate(-20%,-45%) rotate(315deg);
  }
  /* PRODUCTS */
  .thumbnail img{
      max-height: 145px;
      width: auto;
      display: block;
      max-width: 100%;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .hero-feature{
      /*max-width:225px;*/
      max-width: 20%;
      width: 100%;
      margin-bottom:4px;
  }
  .thumbnail{
      padding: 0;
      margin-bottom: 0;
      line-height: 1.42857143;
      background-color: #fff;
      border-bottom: 1px solid #969696;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-transition: box-shadow .25s linear;
      -webkit-transition: -webkit-box-shadow .25s linear;
      transition: -webkit-box-shadow .25s linear;
      -o-transition: box-shadow .25s linear;
      -moz-transition: box-shadow .25s linear, -moz-box-shadow .25s linear;
      transition: box-shadow .25s linear;
      transition: box-shadow .25s linear, -webkit-box-shadow .25s linear, -moz-box-shadow .25s linear;
  }
  .thumbnail:hover{
      border-color: #ccc;
      -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.13);
         -moz-box-shadow: 2px 2px 4px rgba(0,0,0,.13);
              box-shadow: 2px 2px 4px rgba(0,0,0,.13);
  }
  .thumbnail .caption{
      background: #fff;
      background: -webkit-linear-gradient(top,#fff 0,#e8f5fe 100%);
      background: -webkit-gradient(linear,left top, left bottom,color-stop(0, #fff),to(#e8f5fe));
      background: -o-linear-gradient(top,#fff 0,#e8f5fe 100%);
      background: -moz-linear-gradient(top,#fff 0,#e8f5fe 100%);
      background: linear-gradient(to bottom,#fff 0,#e8f5fe 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8f5fe', GradientType=0 );
      padding: 10px;
      color: #000;
      border-top: 0px solid #969696;
      height: auto;
      text-align: left;
      overflow: hidden;
  }
  .thumbnail .caption h3{
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      margin-top: 0;
      min-height:1.4em;
  }
  .products-name{
      min-height: 4.5em !important;
      margin-bottom: 0;
  }
  .categories-name{
      min-height: 3.5em !important;
      margin-bottom: 0;
  }
  @media only screen and (min-width: 1150px){
      #header-mobile{
          display:none
      }
      #navigation{
          margin-top: 22px;
      }
  }
  @media only screen and (max-width: 1149px){
      #header-desktop{
          display:none;
      }
      #header-mobile{
          display:-webkit-box;
          display:-webkit-flex;
          display:-ms-flexbox;
          display:-moz-box;
          display:flex;
      }
  }
  @media only screen and (min-width: 925px) and (max-width: 1149px){
      #header-mobile{
          padding-top: 8px;
      }
      .hero-feature{
          max-width:25%;
          width:25%
      }
      /* minimal basket width */
  }
  @media only screen and (max-width: 1149px){
      #navigation .side{
          display:block;
      }
  }
  @media only screen and (min-width: 700px) and (max-width: 924px){
      #header-mobile{
          padding-top: 10px;
      }
      .hero-feature{
          max-width:33.32%;
          width:33.32%
      }
  }
  @media only screen and (max-width: 560px){
      #kategorie div{
          width:100%
      }
  }
  @media only screen and (min-width: 475px) and (max-width: 699px){
      #header-mobile{
          padding-top: 14px;
      }
      .hero-feature{
          max-width:50%;
          width:50%
      }
  }
  @media only screen and (max-width: 474px){
      #header-mobile{
          padding-top: 18px;
      }
      .hero-feature{
          max-width:100%;
          width:100%
      }
  }
  /* FOOTER */
  footer{
      background: url(../img/carbon1.jpg) center center;
      padding: 30px 0;
  }
  /*NAVIGATION*/
  #navigation{
      margin-top: 8px;
  }
  #navigation .side{
      background: url(../img/bg-carbon.png) top center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
      height: 34px;
  }
  #navigation .warenkorb{
      min-width: 70px;
      height: 38px;
      background: url(../img/cart.png);
      background-repeat: no-repeat;
      -webkit-background-size: 33.3% 65.8%;
              -moz-background-size: 33.3% 65.8%;
                -o-background-size: 33.3% 65.8%;
           background-size: 33.3% 65.8%;
      top: 0;
      margin-top: -19px;
      background-position: 22% 45%;
  }
  @media only screen and (min-width:886px){
      /* EXPERMINETAL 2 */
  /* navbar */
  /* menu css (structural)*/
  nav {
    text-align:center;
    width: 100%;
    padding: 0;
    margin: 0;
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:-moz-box;
    display:flex;
  }
  nav>ul{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:-moz-box;
    display:flex;
  }
  nav ul, nav li{
    margin: 0;
    padding: 0;
  }
  nav a,nav a:hover{
    text-decoration:none;
  }
  nav li{
    list-style: none;
  }
  nav>ul>li>ul{
    display: none;
    width:100%
  }
  nav>ul>li:hover > ul{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: -moz-box;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      position: absolute;
      left: 0;
  }
  /* specific */
  nav ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  nav ul{
      background-color: #fff;
  }
  .navbar-nav>li>.dropdown-menu {
      padding: 0px 0px 10px 10px;
  }
  nav>ul>li ul ul{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            -moz-box-orient:vertical;
            -moz-box-direction:normal;
         flex-direction:column;
    text-align:left;
  }
  .level-1>ul{
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
           border-radius: 4px;
      margin-top: 0;
      -webkit-border-top-left-radius: 0;
              -moz-border-radius-topleft: 0;
           border-top-left-radius: 0;
      -webkit-border-top-right-radius: 0;
              -moz-border-radius-topright: 0;
           border-top-right-radius: 0;
  }
  .level-1 ul{
    top: 100%; /*move to general*/
  }
  .level-2>li, .level-3{
    padding: 1em;
  }
  /* theme */
  nav>ul>li{
        background: url(../img/bg-carbon.png) top center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
           border-radius: 5px;
      line-height: 1.0;
  }
  
  #mega{
    font-size: 14px;
    color: #FFF;
  }
  .level-2{
      min-height: 1px;
      padding-right: 5px;
      padding-left: 5px;
      width:20%;
  }
  .level-2 h3{
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .level-2 h3 a{
      font-weight: bold;
      color: #337ab7!important;
  }
  .level-3{
    padding: 0.5em 12px;
  }
  .level-3:hover{
    background-color:  #eee;
  }
  .level-3 a{
    color:black;
  }
  }
  @media only screen and (max-width:885px){
  nav {
    background-color: #333;
    text-align: center;
    color:#ccc;
    font-size: 32px;
    width: 40px;
    height: 36px;
  }
  nav:before{
    content:"≡";
  }
  nav ul,nav .level-1+ul { 
    display: none;
  }
  nav>ul{
    width:100vw;
  }
  .level-2>ul{
    display: block;
  }
  .level-1{
    background:url(https://www.derlifestyleshop.de/templates/i24-lifestyleshop/img/bg-carbon.png);
    padding:12px 0px;
  }
  .level-1>a{
      font-size: 14px;
      color: #FFF;
  }
  .level-1>ul{
        background-color: rgba(192,223,253, 1);
  color:#000;
  margin-top: 12px;
  margin-bottom: -12px;
  }
  .level-2{
    text-align:left;
    padding:8px;
    line-height:2em;
  }
  .level-2 a{
    color:#000;  
  }
  .level-2>h3>a{
    color:#337ab7;
    padding:8px;
  }
  
  .level-3{
    padding: 4px 0px;
    padding-left:16px;
  }
  nav ul{list-style-type: none;
  font-size:14px;}
  }
  /* css fix for missing class */
  footer{
      color: #ccc;
      line-height: 1.55em;
  }
  footer a{
      color: #fff;
  }
  footer a:hover{
      color: #fff;
  }
  /* PRODUCT PAGE TAB menu*/
  main {
    min-width: 320px;
    padding: 50px;
    margin: 0 auto;
  }
  
  main section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }
  
  main input {
    display: none;
  }
  
  main label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }
  
  main label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }
  
  main label:hover {
    color: #888;
    cursor: pointer;
  }
  
  main input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #035a99;
    border-bottom: 1px solid #fff;
  }
  
  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4 {
    display: block;
  }
  /* PRODUCT PAGE MAIN content */
  .product_info h1{
      font-size: 19px;
  }
  .product_info .default_option{
      border: 1px solid #c9cbd000;
      padding: 2px 10px;
      background: white;
      color: black;
      margin: 2px 5px;
      cursor: pointer;
      color: #888;
      background: #e7e3dc;
      padding: 5px 14px;
  }
  .product_info .default_option_selected,.product_info .default_option:hover{
      border: 1px solid #C9CBD0;
      margin: 2px 5px;
      cursor: pointer;
      color: #888;
      background: #e7e3dc;
      padding: 5px 14px;
      background: #fff;
      border-color: #888;
      color: #3d3d3d;
  }
  .main-img{
      height: auto
  }
  .product_img{
    position: relative
  }
  .more-images{
    position: absolute;
    top:0;
  }
  .more-images-item{
    width:60px;
    border:1px solid;
  }
  .more-images-item img{
    height:60px;
    width: 58px;
    padding: 0 4px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
  .hover-image{
      margin-left: 64px;
      position: relative;
  }
  .hover-pointer{
      position: absolute;
      background: rgba(240, 248, 255, 0.41);
      border: 1px solid rgb(155, 178, 255);
  }
  .hover-view{
      position: absolute;
      top: 0px;
      left: 100%;
      overflow: hidden;
  }
  .nav-tabs{
    border: 1px solid #ddd;
  }
  .nav-tabs>li {
      float: left;
      margin-bottom: -1px;
      list-style: none;
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
      color: #555;
      cursor: default;
      border: 1px solid #ddd;
      border-top: 2px solid #035a99;
      border-bottom: 1px solid #fff;
      border-bottom-color: transparent;
      -webkit-border-radius: 0;
              -moz-border-radius: 0;
           border-radius: 0;
  }
  .nav>li>a {
      position: relative;
      display: block;
      padding: 10px 15px;
      text-decoration:none;
  }
  .large-preview{
      top: 0;
      left: 376px;
      position: absolute;
      height: 10px;
      width: 10px;
      overflow:hidden;
  } 
  .large-preview img{
    max-width:100%; 
    height:auto;
    width:initial;
  }
  /* LITEBOX */
  .litebox{
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 0;
  }
  .lite-container{
    padding:5vh;
  }
  .lite-container img{
    max-width: 90vw;
    max-height: 90vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
  }
  .close{
     font-size: 30px;
      color: #ccc;
      position: fixed;
      top: 16px;
      right: 16px;
      cursor:pointer;
  }
